@model System.Web.Mvc.HandleErrorInfo 
@{
    ViewBag.Title = "Something Went Wrong";
}
@section header {
    <link rel="stylesheet" href="~/Content/css/error.min.css" />
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <!-- BEGIN PAGE CONTENT BODY -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12 page-404">
                        <div class="number font-green"> Error </div>
                        <div class="details">
                            <h3>Oops! Something when wrong.</h3>
                            <p>
                                An error occurred while processing your request.
                                <br />
                                <a href="/">Return home</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT BODY -->
    <!-- END CONTENT BODY -->
</div>